* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "nanumfont";
  src: url(./assets/fonts/NanumSquareNeo-dEb.ttf) format("truetype");
}

:root {
  --font-nanumfont: "nanumfont";
}

body {
  font-family: var(--font-nanumfont);
}
